<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="row">
        <a href="/" class="host active">回到首頁</a>
        <div class="tool">
          <ul class="list-item">
            <li class="item active">
              <a href="/about" class="about">About</a>
            </li>
            <li class="item active">
              <a href="/portfolio" class="portfolio">Portfolio</a>
            </li>
            <li class="item active">
              <a href="/contact" class="contact">Contact</a> 
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  {{{body}}}
</body>
</html>